<%= form_with url: session_path, html: {autocomplete: 'off'} do |f| %>

  <div class='mt-4 grid grid-cols-[min-content_min-content] items-center gap-x-4 gap-y-2'>
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'login', class: 'btn-submit col-start-2' %>

    <h3 class='col-start-2 mt-4'>Or <%= link_to 'create account', signup_path, class: 'underline' %></h3>
  </div>

<% end %>
