<section>
  <% @posts.each do |post| %>
    <div class='mb-4 text-sm'>
      <div>
        <% if post.url.empty? %>
          <%= link_to post.title, post_path(post) %>
        <% else %>
          <%= link_to post.title, post.url %>
        <% end %>
        <% unless post.url.empty? %>
          <span class='text-gray-500 text-xs'>(<%= display_url(post.url) %>)</span>
        <% end %>
      </div>
      <div class='text-xs text-gray-500'  >
        by <%= post.user.username %>
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
    </div>
  <% end %>
</section>
