<header class='bg-orange-500 text-xs'>

  <div class='flex justify-between items-center'>
    <div class='flex items-center gap-1'>
      <%= image_tag 'yc.svg', class: 'border border-1 border-white m-1' %>
      <span class='font-bold whitespace-nowrap mr-2 text-sm'><%= link_to 'Slacker News', root_path %></span>
      <div class=''>
        <% navigation_links.each_with_index do |link, index| %>
          <span><%= link_to link[:name], link[:path] %></span>
          <span><%= raw(" | ") unless index == navigation_links.size - 1 %></span>
        <% end %>
      </div>
    </div>

    <div class='mr-2'>
      <% if current_user %>
        <span><%= current_user.username %></span>
        <span>(123)</span>
        <span>|</span>
        <span><%= link_to 'logout', session_path, data: {turbo_method: :delete} %></span>
      <% else %>
        <span><%= link_to 'login', login_path %></span>
      <% end %>
    </div>
  </div>

</header>
