<header class='bg-orange-500 text-xs py-1'>

  <div class='flex justify-between items-center'>
    <div class='grid grid-cols-[max-content_1fr] grid-rows-2 items-center'>
      <%= image_tag 'yc.svg', class: 'border border-1 border-white m-1 row-span-2 md:row-span-1' %>
      <span class='font-semibold whitespace-nowrap mr-2 text-sm ml-2'><%= link_to 'Slacker News', root_path %></span>
      <div class='ml-2 md:col-start-3'>
        <% navigation_links.each_with_index do |link, index| %>
          <span><%= link_to link[:name], link[:path] %></span>
          <span><%= raw(" | ") unless index == navigation_links.size - 1 %></span>
        <% end %>
      </div>
    </div>

    <div class='mr-2'>
      <% if current_user %>
        <span><%= current_user.username %></span>
        <span>(123)</span>
        <span>|</span>
        <span><%= link_to 'logout', session_path, data: {turbo_method: :delete} %></span>
      <% else %>
        <span><%= link_to 'login', login_path %></span>
      <% end %>
    </div>
  </div>

</header>
