<header class='bg-orange-500 text-xs py-1'>

  <div class='grid grid-cols-[max-content_1fr_max-content] md:grid-cols-[max-content_max-content_1fr_max-content] grid-rows-2 items-center'>
    <%= image_tag 'yc.svg', class: 'border border-1 border-white m-1 row-span-2' %>
    <span class='font-semibold whitespace-nowrap mr-2 text-sm ml-2 md:row-span-2'><%= link_to 'Slacker News', root_path %></span>
    <div class='ml-2 col-start-2 md:row-span-2 md:col-span-2'>
      <% navigation_links.each_with_index do |link, index| %>
        <span><%= link_to link[:name], link[:path] %></span>
        <span><%= raw(" | ") unless index == navigation_links.size - 1 %></span>
      <% end %>
    </div>

    <div class='row-start-1 col-start-3 md:col-start-5 row-span-2 mr-2'>
      <% if current_user %>
        <span><%= current_user.username %></span>
        <span>(123)</span>
        <span><%= raw(" | ") %></span>
        <span><%= link_to 'logout', session_path, data: {turbo_method: :delete} %></span>
      <% else %>
        <span><%= link_to 'login', login_path %></span>
      <% end %>
    </div>

  </div>
</div>

</header>
